.menu {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 0.5rem;
}

.card_menu {
	grid-column: 1/2;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.5rem;
	margin: 0.5rem 1rem;
	padding: 0.5rem;
	border-radius: 1rem;
	border: lightgray solid 2px;
	color: black;

	.imagen {
		grid-column: 1/3;
		display: flex;
		// justify-content: center;
		align-items: center;

		img {
			height: 130px;
			width: 200px;
			object-fit: cover;
		}
	}

	.contenido {
		grid-column: 3/-1;
		// border-left: lightgray solid 2px;
		// padding: 0px 0.5rem;
	}

	.titulo {
		margin: 0px;
		font-size: 1.5rem;
		margin: 0px 0.5rem;
	}
}

@media screen and (min-width: 600px) {
	.menu {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.3rem;
		padding: 0px 5%;
	}

	.card_menu {
		margin: 0.5rem 0.8rem;
	}
}

@media screen and (min-width: 992px) {
	.menu {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.3rem;
		padding: 0px 5%;
	}

	.card_menu {
		margin: 0.5rem 0.8rem;
	}
}

//------------------------------- PANEL ----------------------------------------

@mixin panel {
	padding: 1em;
	border-radius: 1em;
	margin: 0.3em;
}

.panel {
	background: $secundario;
	@include panel();

	&-warning {
		@include panel();
		background: rgb(255, 243, 64);
	}

	&-error {
		@include panel();
		background: rgb(255, 43, 36);
	}
}
