.nav {
	background-color: #e1701a;
	position: relative;
	display: flex;
	height: 64px;

	.logo {
		font-size: 1.2rem;
		font-family: 'Rock Salt', cursive;
		color: black;
	}

	.burger {
		position: absolute;
		cursor: pointer;
		right: 0;
		margin: 18px 1rem;
	}

	.brand {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 991px) {
	.nav {
		flex-direction: column;
		height: auto;
		min-height: 64px;

		.brand {
			height: 64px;
		}
	}

	.nav-opciones {
		// display: none;
		display: flex;
		flex-direction: column;
		margin-top: white solid 1px;
		background-color: #e1701a;
		margin: 1rem;
		width: 100%;
		padding: 0px 2rem;
	}
}

@media screen and (min-width: 992px) {
	.nav {
		padding: 0px 2rem;
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(4, 1fr);
	}

	.burger {
		display: none;
	}

	.brand {
		grid-column: 1/2;
	}

	.nav-opciones {
		display: block;
		grid-column: 2/-1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: black;
		height: 64px;

		.item-nav {
			margin: 0px 1rem;
			color: black;
			transition: all 0.4s;
			height: 64px;
			padding: 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;

			& a {
				color: black;
			}

			&.dividir {
				margin-left: white solid 1px;
			}

			&:hover {
				background-color: #e48237;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.menu-oculto {
		display: none;
	}
}

.fixed {
	position: fixed;
	width: 100%;
	top: 0;
}
